---
layout: default 
title: Terms
---
            
          {% include subpage-header.html %} 
            <!-- contact form start -->
            <section id="contact-form">
              <div class="container">
                {% include terms.html %}

                <!-- <div class="col-md-6 col-sm-12">
                    <div class="block">
                        <img id="archImg" src="../img/archive.png" alt="archive" />
                    </div> -->
                </div>
              </div>
            </section>
